@font-face {
  font-family: "NatoSans";
  src: url("../../assets/fonts/NotoSans/NotoSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "NatoSansBold";
  src: url("../../assets/fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
}
